body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none !important;
    color: black !important;

}

.header {
    padding: 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(250, 250, 250);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu a:hover {
    color: red !important;
}

.menu-right i:hover {
    transform: scale(1.1);
    color: red;
}

.row h4 {
    margin-top: 50px;
    font-size: 30px;
}

.menu-item {
    margin: 0px 25px;
}

.menu-right {
    display: flex;
    list-style: none;
    justify-content: end;
}

.mn-item {
    margin: 0px 8px;
}

/* product */

.hot .row {
    margin-top: 50px;
}

.p-wrap {
    text-align: center;
    margin-top: 30px;
}

.hot-sale .p-img {
    border-radius: 10px;
}

.p-img {
    width: 100%;
}

.img-slide {
    width: 100%;

}

.q-warp {
    text-align: center;
    margin-top: 15px;
}

.hot .q-img {
    border-radius: 10px;
}

.hot .col-md-6 {
    border-radius: 10px;
}

.btn-button:hover {
    background-color: rgb(83, 130, 218);
}

.btn-button {
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    margin-top: 160px;
    margin-left: 30px;
}

.q-name {
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
}

.q-warp img {
    position: relative;
}

.q-img {
    width: 100%;
}

.section {
    padding: 5% 10%;
}

.main-text {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-home {
    margin-top: 75px;
    border-radius: 5%;
    margin-left: 80px;
    background: rgb(244, 244, 244);
    width: 90%;
}

.btn-view {
    margin-top: 40px;
    text-align: center;
}

.btn-view .btn-size {
    width: 120px;
    height: 40px;
    background-color: rgb(69, 122, 220);
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    font-weight: 700;
}

.btn-size:hover {
    background-color: white;
    color: black;
}

.main-btn {
    width: 125px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(69, 122, 220);
    transition: 0.3s;
    color: white;
    font-weight: 700;
}

.main-btn:hover {
    background-color: white;
    color: black;
}

/* begin best-offer */
.best {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.best-offer {
    margin-top: 75px;
    margin-left: 80px;
    background: rgb(244, 244, 244);
    width: 90%;
}

.best .put {
    margin-top: 20px;
    width: 160px;
    height: 40px;
    margin-left: 150px;
}

.best h2 {
    margin-left: 50px;
    font-size: 40px;
}

.put {
    background-color: rgb(69, 122, 220);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.put:hover {
    background-color: white;
    color: black;
}

.btn-viewer {
    text-align: center;
    margin-top: 100px;
}

.btn-views {
    text-align: center;
    margin-top: 50px;
}

/* end best-offer */
/* begin featured-collection */
.featured-collection {
    margin-top: 50px;
}

.featured-collection .p-img {
    border-radius: 10px;
}

/* end featured-collection */
.new-arrivals {
    margin-top: 50px;
}

.col-md-3 h6 {
    text-align: center;
}

.new-arrivals p {
    text-align: center;
}

.col-md-3 .p-img {
    border-radius: 10px;
}

/* begin lates blog */
.lates-blog {
    margin-top: 50px;
}

.o-wrap i {
    margin-top: 20px;
}

.o-wrap .re-name {
    margin-top: 20px;
}

.col-md-4 span {
    color: blue;
    font-weight: 600;
    margin-top: 30px;
}

.col-md-4 .p-img {
    border-radius: 10px;
}

.o-wrap .p-img:hover {
    transform: scale(1.1);
}

/* end lates blog */
/* begin oder */
.col-md-3 .menu-item {
    margin-top: 70px;
    font-size: 40px;
    list-style-type: none;
}

.menu-link h5 {
    display: inline-flex;

}

.menu-link span {
    display: inline-flex;
    font-size: 15px;
}

.btn-viewer h6 {
    text-align: center;
    margin-bottom: 60px;
}

/* End oder */
/* begin btn-ground */
.img-background {
    display: flex;
}

.img-background img {
    border-radius: 10px;
    margin: 0 10px;
}

.btn-background {
    margin-top: 50px;
}

/* end btn-ground */
/* begin u-img */
.u-img {
    margin-top: 100px;
}

.u-img-test {
    border-radius: 10px;
}

.font-text .u-span {
    color: rgb(69, 122, 220);
    font-size: 30px;
    margin: 0 10px;
}

.font-text h4 {
    font-weight: 700;
    font-size: 20px;
}

.font-text del {
    color: gray;
    font-size: medium
}

.span-u-text {
    margin: 0 50px;
    font-size: smaller;
    color: rgb(88, 82, 82);
}

.a-u-text {
    font-size: 14px;
    font-weight: 600;
}

.color-test {
    font-size: 14px;
    font-weight: 500;
}

.font-text button {
    border-radius: 5px;
    background-color: rgb(69, 122, 220);
    color: white;
    width: 140px;
    height: 50px;
    border-color: white;
    font-weight: 600;
}

.font-text .button-mark {
    background-color: black;
    margin: 0 20px;
}

.font-text button:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.font-text .button-mark:hover {
    background-color: rgb(69, 122, 220);
    border-color: rgb(69, 122, 220);
}

.item-mark {
    margin-top: 15px;
    font-size: 14px;
}

.item-mark .add-to {
    margin: 0 10px;
    font-weight: 600;
}

.car {
    margin: 0 10px;
}

.day a {
    font-weight: 600;
}

.return h6 {
    margin-top: 15px;
    font-size: 14px;
}

.return .return-test {
    color: #303030;
}

/* end u-img */
/* begin guaranteed */
.guaranteed-test .img-test {
    border-radius: 5px;
    margin: 0 10px;
}

.share-test {
    margin: 0 5px;
    font-size: 14px;
    font-weight: 500;
}

.Guaranteed-share i {
    margin: 0 5px;
}

.Guaranteed-share .Guaranteed-blue:hover {
    color: blue;
}

.Guaranteed-views {
    margin-top: 60px
}

.Guaranteed-size {
    text-align: center;
}

/* end guaranteed */
/* begin related */
.related-img .related-img-test {
    border-radius: 10px;
    margin-top: 50px;
}

.related-img .related-font {
    margin-right: 35px;
}

.related-img .related-font:hover {
    color: blue;
}

.related-img .related-coin {
    color: blue;
    font-weight: 500;
    text-align: center;
    margin-right: 40px;
}

/* end related */
/* begin recently */
.recently-img-test {
    border-radius: 10px;
    margin-top: 50px;
}

.recently-img .recently-coin {
    color: blue;
    font-weight: 500;
    text-align: center;
    margin-right: 40px;
}

.recently-img .recently-font {
    margin-right: 35px;
}

.recently-img .recently-font:hover {
    color: blue;
}

/*   end recently  */
/* begin buy */ 
.buy {
    padding: 10px 0px;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(250, 250, 250);
    padding: 0.3rem 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    margin-top: 500px;
}
.col-md-3 .coin-item {
    margin-top: 13px;
    
}
.col-md-3 .price-item{
    border-color: rgb(247, 238, 238);
    border-width:0ch;
    border-radius: 5px;
    color: #303030;
}
.col-md-3 .name{
    margin-top: 15px;
}
.col-md-2 .custom{
    margin-top: 13px;
}
.col-md-2 .custom-test{
    border-color: rgb(247, 238, 238);
    border-width:0ch;
    border-radius: 5px;
    color: #303030;
}
.col-md-2 .cart{
    margin-top: 11px;
    margin-right: 40px;
    
}
.col-md-2 .cart-test{
    background-color: rgb(69, 122, 220);
    border-radius: 5px;
    border-color:  rgb(69, 122, 220);
    color: white;
    font-weight: 600;
    height: 35px;
    width: 100px;   
}
.col-md-2 .cart-test:hover{
    background-color: white;
    border-color: black;
    color: black;
}
/* end buy */
/*begin your-shoppinh */
.row .nickname{
    margin-top: 100px;
    text-align: center;
}
.your-shopping {
    background-color: rgb(218, 213, 213);
    height: 170px;
}
.shirt {
    margin-top: 70px;
}

