body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none !important;
    color: black !important;

}

.header {
    padding: 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(250, 250, 250);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
.product-blue p{
    color: rgb(103, 169, 255);
    font-weight: 600;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
}
.menu p:hover {
    color: red ;
}
.menu a:hover {
    color: red !important;
}

.menu-right i:hover {
    transform: scale(1.1);
    color: red;
}

.row h4 {
    margin-top: 50px;
    font-size: 30px;
}

.menu-item {
    margin: 0px 25px;
}

.menu-right {
    display: flex;
    list-style: none;
    justify-content: end;
}

.mn-item {
    margin: 0px 8px;
}

/* product */

.hot .row {
    margin-top: 50px;
}

.hot .q-name:hover {
    color: rgb(118, 118, 224);
}

.p-wrap {
    text-align: center;
    margin-top: 30px;
}

.hot-sale .p-img {
    border-radius: 10px;
}

.hot-sale .p-name:hover {
    color: blue;
}

.p-img {
    width: 100%;
}

.img-slide {
    width: 100%;

}

.q-warp {
    text-align: center;
    margin-top: 15px;
}

.hot .q-img {
    border-radius: 10px;
}

.hot .col-md-6 {
    border-radius: 10px;
}

.btn-button:hover {
    background-color: rgb(83, 130, 218);
}

.btn-button {
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    margin-top: 160px;
    margin-left: 30px;
}

.q-name {
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
}

.q-warp img {
    position: relative;
}

.q-img {
    width: 100%;
}

.section {
    padding: 5% 10%;
}

.main-text {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-home {
    margin-top: 75px;
    border-radius: 5%;
    margin-left: 80px;
    background: rgb(244, 244, 244);
    width: 90%;
}

.btn-view {
    margin-top: 40px;
    text-align: center;
}

.btn-view .btn-size {
    width: 120px;
    height: 40px;
    background-color: rgb(69, 122, 220);
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    font-weight: 700;
}

.btn-size:hover {
    background-color: white;
    color: black;
}

.main-btn {
    width: 125px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(69, 122, 220);
    transition: 0.3s;
    color: white;
    font-weight: 700;
}

.main-btn:hover {
    background-color: white;
    color: black;
}

/* begin best-offer */
.best {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.best-offer {
    margin-top: 75px;
    margin-left: 80px;
    background: rgb(244, 244, 244);
    width: 90%;
}

.best .put {
    margin-top: 20px;
    width: 160px;
    height: 40px;
    margin-left: 150px;
}

.best h2 {
    margin-left: 50px;
    font-size: 40px;
}

.put {
    background-color: rgb(69, 122, 220);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.put:hover {
    background-color: white;
    color: black;
}

.btn-viewer {
    text-align: center;
    margin-top: 100px;
}

.btn-views {
    text-align: center;
    margin-top: 50px;
}

/* end best-offer */
/* begin featured-collection */
.featured-collection {
    margin-top: 50px;
}

.featured-collection .p-img {
    border-radius: 10px;
}

/* end featured-collection */
.new-arrivals {
    margin-top: 50px;
}

.featured-collection .p-name:hover {
    color: blue;

}

.col-md-3 h6 {
    text-align: center;
    margin-top: 15px;
}

.new-arrivals p {
    text-align: center;
}

.new-arrivals .p-name:hover {
    color: blue;
}

.col-md-3 .p-img {
    border-radius: 10px;
}

.u-wrap .price {
    padding-left: 110px;

}

/* begin lates blog */
.lates-blog {
    margin-top: 50px;
}

.o-wrap i {
    margin-top: 20px;
}

.o-wrap .re-name {
    margin-top: 20px;
}

.col-md-4 span {
    color: blue;
    font-weight: 600;
    margin-top: 30px;
}

.col-md-4 .p-img {
    border-radius: 10px;
}

.o-wrap .p-img:hover {
    transform: scale(1.1);
}

/* end lates blog */
/* begin oder */
.col-md-3 .menu-item {
    margin-top: 70px;
    font-size: 40px;
    list-style-type: none;
}

.menu-link h5 {
    display: inline-flex;

}

.btn-viewer h6 {
    text-align: center;
    margin-bottom: 60px;
}

/* End oder */
/* begin btn-ground */
.img-background {
    display: flex;
}

.img-background img {
    border-radius: 10px;
    margin: 0 10px;
}

.btn-background {
    margin-top: 50px;
}

/* end btn-ground */
/* begin u-img */
.u-img {
    margin-top: 100px;
}

.u-img-test {
    border-radius: 10px;
}

.font-text .u-span {
    color: rgb(69, 122, 220);
    font-size: 30px;
    margin: 0 10px;
}

.font-text h4 {
    font-weight: 700;
    font-size: 20px;
}

.font-text del {
    color: gray;
    font-size: medium
}

.span-u-text {
    margin: 0 50px;
    font-size: smaller;
    color: rgb(88, 82, 82);
}

.a-u-text {
    font-size: 14px;
    font-weight: 600;
}

.color-test {
    font-size: 14px;
    font-weight: 500;
}

.font-text button {
    border-radius: 5px;
    background-color: rgb(69, 122, 220);
    color: white;
    width: 140px;
    height: 50px;
    border-color: white;
    font-weight: 600;
}

.font-text .button-mark {
    background-color: black;
    margin: 0 20px;
}

.font-text button:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.font-text .button-mark:hover {
    background-color: rgb(69, 122, 220);
    border-color: rgb(69, 122, 220);
}

.item-mark {
    margin-top: 15px;
    font-size: 14px;
}

.item-mark .add-to {
    margin: 0 10px;
    font-weight: 600;
}

.car {
    margin: 0 10px;
}

.day a {
    font-weight: 600;
}

.return h6 {
    margin-top: 15px;
    font-size: 14px;
}

.return .return-test {
    color: #303030;
}

/* end u-img */
/* begin guaranteed */
.guaranteed-test .img-test {
    border-radius: 5px;
    margin: 0 10px;
}

.share-test {
    margin: 0 5px;
    font-size: 14px;
    font-weight: 500;
}

.Guaranteed-share i {
    margin: 0 5px;
}

.Guaranteed-share .Guaranteed-blue:hover {
    color: blue;
}

.Guaranteed-views {
    margin-top: 60px
}

.Guaranteed-size {
    text-align: center;
}

.headers {
    padding: 15px 0px;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(250, 250, 250);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

/* end guaranteed */
/* begin related */
.related-img .related-img-test {
    border-radius: 10px;
    margin-top: 50px;
}

.related-img .related-font {
    margin-right: 35px;
}

.related-img .related-font:hover {
    color: blue;
}

.related-img .related-coin {
    color: blue;
    font-weight: 500;
    text-align: center;
    margin-right: 40px;
}

/* end related */
/* begin recently */
.recently-img-test {
    border-radius: 10px;
    margin-top: 50px;
}

.recently-img .recently-coin {
    color: blue;
    font-weight: 500;
    text-align: center;
    margin-right: 40px;
}

.recently-img .recently-font {
    margin-right: 35px;
}

.recently-img .recently-font:hover {
    color: blue;
}

/*   end recently  */
/* begin buy */
.buy {
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(250, 250, 250);
    padding: 0.3rem 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    margin-top: 585px;
}

.col-md-3 .coin-item {
    margin-top: 13px;

}

.col-md-3 .price-item {
    border-color: rgb(247, 238, 238);
    border-width: 0ch;
    border-radius: 5px;
    color: #303030;
}

.col-md-3 .name {
    margin-top: 15px;
}

.col-md-2 .custom {
    margin-top: 13px;
}

.col-md-2 .custom-test {
    border-color: rgb(247, 238, 238);
    border-width: 0ch;
    border-radius: 5px;
    color: #303030;
}

.col-md-2 .cart {
    margin-top: 11px;
    margin-right: 40px;

}

.col-md-2 .cart-test {
    background-color: rgb(69, 122, 220);
    border-radius: 5px;
    border-color: rgb(69, 122, 220);
    color: white;
    font-weight: 600;
    height: 35px;
    width: 100px;
}

.col-md-2 .cart-test:hover {
    background-color: white;
    border-color: black;
    color: black;
}

/* end buy */
/*begin your-shopping */
.row .nickname {
    margin-top: 30px;
    text-align: center;
}

.your-shopping {
    background-color: rgb(218, 213, 213);
    height: 120px;

}

.col-md-2 .p-img {
    border-radius: 20px;
    height: 120px;
    margin-top: 3px;

}

.shirt {
    margin-top: 70px;
}

.col-md-2 .Men-Formal {
    margin-top: 35px;
    font-weight: 600;
    text-align: center;
    font-size: 15px;

}

.col-md-2 .white {
    text-align: center;
}

.col-md-2 .coin-master {
    text-align: center;
    margin-top: 55px;
    font-weight: 600;
}

.col-md-2 .soluong {
    text-align: center;
    margin-top: 50px;
    border-radius: 5px;
    border-color: white;

}

.shirt .row {
    border: 1px solid rgb(204, 200, 200);
}


/* end your-shopping */
/* begin about */
.about-us {
    margin-top: 50px;
}

.about-us h4 {
    font-size: 20px;
}

.about-us p {
    margin-top: 20px;
}

.icon-user i {
    margin: 20px 15px 20px 10px;


}

.icon-user h5 {
    margin-top: 20px;
}

.card-img {
    margin-top: 20px;
}

.quick {
    margin-top: 50px;
    margin-left: 100px;
}

.quick p {
    margin-top: 20px;
    font-size: 14px;
}

.Information {
    margin-top: 50px;
    margin-left: 40px;
}

.Information p {
    margin-top: 20px;
    font-size: 14px;
}

.Polices {
    margin-top: 50px;
    margin-left: 70px;
}

.Polices p {
    margin-top: 20px;
    font-size: 14px;
}

.Polices p:hover {
    color: rgb(116, 193, 219);
}

.about {
    background-color: #dad2d2;
    margin-top: 30px;
    height: 490x;
}

.about hr {
    margin-top: 40px;

}

.cre {
    text-align: center;

}

/* end about us */
/* begin continue */
.continue {
    margin-top: 40px;
}

.continue-button .button-test {
    background-color: rgb(100, 166, 253);
    border-radius: 5px;
    border-color: rgb(100, 166, 253);
    font-weight: 600;
    color: white;
    height: 50px;
    width: 170px;
}

.continue-button .button-test:hover {
    background-color: black;
    border-color: black;
}

/* end continue */
/* begin special */
.specical-border h4 {
    font-size: 24px;
}

textarea {
    border-radius: 10px;
    border-color: rgb(204, 196, 196);

}

.specical-border textarea {
    width: 500px;
    height: 150px;
    margin-top: 20px;

}

.specical-borders h4 {
    font-size: 24px;
}

.col-md-6 .subtotal {

    border: 1px solid gray;
}

.cart-tests {
    margin-top: 30px;
    text-align: center;

}

.reset-name h4 {
    font-size: 24px;
}

.proceed {
    border-radius: 5px;
    background-color: rgb(100, 166, 253);
    border-color: rgb(100, 166, 253);
    color: white;
    font-weight: 500;

}

.proceed-checkout {
    margin-top: 30px;
    text-align: center;

}

.proceed-checkout .proceed {
    width: 500px;
    height: 50px;
}

.proceed-checkout .proceed:hover {
    background-color: black;
    border-color: black;
}

/* begin login-account */
.login-account .row {
    border: 1px solid rgb(236, 234, 234);
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background-color: rgb(236, 234, 234);

}

.login-account {
    margin-top: 70px;
    margin-left: 380px;
}

.login-new .login-font {
    margin-left: 200px;
    margin-top: 20px;
}

.login-new h5 {
    font-size: 25px;
}

.login-new p {
    margin-left: 90px;
}

.login-email {
    margin-top: 20px;
}

.login-email .input-full {
    border-radius: 5px;
    border-color: rgb(204, 202, 202);
    border-style: hidden;
    width: 450px;
    height: 50px;
    margin-left: 10px;

}

.login-password {
    margin-top: 20px;
}

.login-password .input-maximum {
    border-radius: 5px;
    border-color: rgb(204, 202, 202);
    border-style: hidden;
    width: 450px;
    height: 50px;
    margin-left: 10px;
}

.login-sign {
    margin-top: 20px;
}

.login-sign .button-sign-in {
    background-color: rgb(81, 128, 230);
    border-color: rgb(81, 128, 230);
    border-style: none;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    margin-left: 10px;
    color: white;
    font-weight: 600;
}

.login-sign .sign-forgot {
    margin-left: 160px;
    font-weight: 400;
}

.login-sign .sign-forgot:hover {
    color: rgb(87, 161, 247);
    transition: 0.3s;
}

.create p {
    margin-top: 15px;
    margin-left: 13px;

}

.create p:hover {
    color: rgb(87, 161, 247);
    transition: 0.3s;
}


/* end login-account*/
/* begin contact */
.contact {
    margin-top: 70px;
    background-color: rgb(247, 242, 242);
    height: 120px;
}

.contact .name-font {
    margin-top: 30px;
    text-align: center;
}

.contact-home {
    margin-left: 500px;
}

.contact-color {
    color: rgb(106, 166, 255);
    font-weight: 500;
}

/* end contact */
/* begin office */
.row .office-email {
    border: 1px solid rgb(230, 224, 224);
    border-radius: 10px;
    margin-top: 90px;
    width: 350px;
    height: 200px;
}

.office-email .office-h5 {
    margin-top: 55px;
    text-align: center;

}

.office-email .office-gmail {
    margin-top: 20px;
    text-align: center;
}

.office-email .office-gmail-two {
    text-align: center;

}

/* end office */
/* begin massage */
.massage .row {
    border: 1px solid rgb(218, 215, 215);
    margin-top: 90px;
    border-radius: 10px;
    background-color: rgb(230, 224, 224);
    height: 530px;
}

.massage .massage-font {
    margin-top: 40px;
    margin-left: 40px;
}

.massage-font h5 {
    font-weight: 700;
    font-size: 25px;
}

.massage-name .input-fulls {
    border-radius: 5px;
    border-style: none;
    margin-top: 20px;
    margin-left: 40px;
    height: 60px;
    width: 490px;
}

.massage-phone .input-full {
    border-radius: 5px;
    border-style: none;
    margin-top: 20px;
    margin-left: 40px;
    height: 60px;
    width: 490px;
}

.massage .massage-address {
    margin-top: 98px;

}

.massage .input-max {
    border-radius: 5px;
    border-style: none;
    height: 60px;
    width: 490px;
}

.massage .input-maxim {
    margin-top: 20px;
    border-radius: 5px;
    border-style: none;
    height: 60px;
    width: 490px;
}

.massage-two .input-maximums {
    margin-left: 40px;
    border-radius: 5px;
    border-style: none;
    height: 120px;
    width: 1020px;
}

.massage .submit {
    margin-left: 40px;
}

.submit .submit-button {
    background-color: rgb(102, 147, 243);
    border-color: rgb(102, 147, 243);
    border-style: none;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

.submit .submit-button:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-style: groove;
    transition: 0.3s;

}

.note-new {
    margin-top: 80px;
}

/* end message */
/* begin news */
.news h3 {
    font-size: 32px;
}

.news {
    background-color: rgb(226, 220, 220);
    height: 130px;
}

.news-colors {
    font-weight: 500;
}

.news-name .news-font {
    margin-top: 30px;
    text-align: center;

}

.news-name .news-color {
    color: rgb(124, 165, 255);
    font-weight: 500;

}

.news-name .news-home {
    margin-left: 505px;
}

/* end news */
/* begin search */
.search {
    margin-top: 70px;
}

.search .store-name {
    margin-top: 40px;

}

.store-name button {
    position: absolute;
    left: 335px;
    color: white;
    border: 1px solid;
    background-color: blue;
    border-color: blue;
    height: 50px;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.store-name .input-full {
    border-radius: 5px;
    height: 50px;
    border-color: rgb(214, 212, 212);
    width: 230px;
}

.layering-img {
    border-radius: 5px;
}

.layering .layering-font {
    position: relative;
    bottom: 66px;
    left: 50px;
}

.layering .layering-font:hover {
    color: rgb(112, 157, 255);
}

.layering .layering-canlendar {
    position: relative;
    bottom: 66px;
    left: 100px;
}

.layering .layering-font-two {
    position: relative;
    bottom: 90px;
    left: 120px;
    color: rgb(112, 157, 255);
}

.layering .layering-hr {
    position: relative;
    bottom: 83px;
}

.glimpse-img {
    border-radius: 5px;

}

.glimpse .glimpse-font {
    position: relative;
    bottom: 66px;
    left: 50px;
}

.glimpse .glimpse-font:hover {
    color: rgb(112, 157, 255);
}

.glimpse .glimpse-canlendar {
    position: relative;
    bottom: 66px;
    left: 100px;
}

.glimpse .glimpse-font-two {
    position: relative;
    bottom: 90px;
    left: 120px;
    color: rgb(112, 157, 255);
}

.layering .glimpse {
    position: relative;
    bottom: 75px;
}

.Fashions-img {
    border-radius: 5px;

}

.Fashions .Fashions-font {
    position: relative;
    bottom: 66px;
    left: 50px;
}

.Fashions .Fashions-font:hover {
    color: rgb(112, 157, 255);
}

.Fashions .Fashions-canlendar {
    position: relative;
    bottom: 66px;
    left: 100px;
}

.Fashions .Fashions-font-two {
    position: relative;
    bottom: 90px;
    left: 120px;
    color: rgb(112, 157, 255);
}

.glimpse .Fashions {
    position: relative;
    bottom: 75px;
}

.glimpse .tags-new {
    position: relative;
    bottom: 70px;
}

.tags-new button {
    margin-top: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(233, 225, 225);
    width: 100px;
    font-weight: 500;
    height: 40px;
}

.tags-new button:hover {
    background-color: rgb(112, 150, 253);
    color: white;
    font-weight: 700;
}

.glimpse .access-two {
    position: relative;
    width: 80px;
    left: 10px;
}

.glimpse .men {
    position: relative;
    bottom: 20px;
}

.glimpse .men-two {
    position: relative;
    bottom: 20px;
    width: 70px;
    left: 10px;
}

.glimpse .springs {
    position: relative;
    bottom: 40px;
}

.glimpse .springs-two {
    position: relative;
    bottom: 40px;
    left: 10px;
    width: 70px;
}

.glimpse .wormen-two {
    position: relative;
    bottom: 60px;
    width: 110px;
}

.layering .layering-hr-two {
    position: relative;
    bottom: 110px;
}
.layering .nerver{
    position: relative;
    bottom: 90px;
}
.layering .MXH{
    position: relative;
    bottom: 50px;
}
.MXH button{
    border-radius: 5px;
    background-color: rgb(206, 203, 203);
    border-style: none;
    width: 40px;
    height: 40px;
}
.MXH button:hover{
    background-color: rgb(109, 160, 255);
    color: white;
}
.col-md-4 .funcitonal{
    margin-left: 20px;
    
}
.funcitonal img{
    border-radius: 10px;
}
.funcitonal .augus {
    color: black;
}
.augus i{
    margin-top: 10px;
}
.funcitonal .augus-two{
    color: black;
    font-weight: 400;
    margin-left: 10px;
}
.funcitonal .comment{
    margin-left: 25px;
    color: black;
}
.funcitonal .comment-two{
    color: black;

}
.funcitonal .comment-two:hover{
    color: #77bdff;
}
.funcitonal .funcitonal-two{
    margin-top: 20px;
}
.funcitonal .funcitonal-font:hover{
    color: rgb(122, 195, 255);
}
.funcitonal .readmore{
    margin-top: 20px;
}
.readmore p{
    color: rgb(70, 103, 248);
    font-weight: 500;
}
.funcitonal .funcitonal-three{
    margin-top: 60px;
}
.funcitonal .funcitonal-four{
    margin-top: 50px;
}
.col-md-4 .trends{
    margin-left: 50px;
}
.trends img{
    border-radius: 10px;
}
.trends .augus {
    color: black;
}
.augus i{
    margin-top: 10px;
}
.trends .augus-two{
    color: black;
    font-weight: 400;
    margin-left: 10px;
}
.trends .comment{
    margin-left: 25px;
    color: black;
}
.trends .comment-two{
    color: black;

}
.trends .comment-two:hover{
    color: #77bdff;
}
.trends .trends-two{
    margin-top: 20px;
}
.trends .trends-font:hover{
    color: rgb(122, 195, 255);
}
.trends .readmore{
    margin-top: 20px;
}
.readmore p{
    color: rgb(70, 103, 248);
    font-weight: 500;
}
.col-md-4 .trends-three{
    margin-top: 60px;
}
.trends .trends-four{
    margin-top: 50px;
}
.col-md-4 .trends-hr-two{
    width: 370px;
    margin-top: 50px;

}
.col-md-4 .trends-hr{
     width: 410px;
    margin-top: 50px;
}
.container .industry-button {
    margin-top: 50px;
    margin-left: 600px;
}
.industry-button button{
    border-radius: 5px;
    height: 50px;
    width: 50px;
    

}
.industry-button-three button{
    background-color: rgb(78, 160, 253);
    border-color: rgb(78, 160, 253) ;
}
.industry-button-two button:hover{
    background-color: rgb(78, 160, 253);
    border-color: rgb(78, 160, 253) ;
}
/* end search */
/* begin newsletter */
.newsletter{
    margin-top: 100px;
    
}
.newsletter .row{
    background-color: rgb(212, 208, 208);
    border-radius: 10px;
    height: 320px;
}
.newsletter .newsletter-two{
    margin-top: 50px;
}
.newsletter-two h5{
    font-size: 30px;
    text-align: center;
}
.newsletter-two p{
    font-size: 20px;
    text-align: center;
}
.col-md-12 .subscribe{
    margin-top: 40px;
}
.subscribe .input-full{
    border-radius: 5px;
    height: 60px;
    width: 590px;
    margin-left: 200px;
}
.subscribe button{
    position: relative;
    right: 10px;
    top: 2px;
    width: 140px;
    height: 61px;
    background-color: rgb(46, 136, 209);
    border-color: rgb(46, 136, 209);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: 500px;
    font-size: 20px;


}
.subscribe  .subscribe-button-two{
    margin-top: 10px;
}
.subscribe button:hover{
    background-color: white;
    border-color: black;
    color: black;
    font-size: 20px;
}
/* end newsletter */
/* begin f-img */
.f-img{
    margin-top: 50px;
}
.font-gift h3{
    margin-top: 10px;
}
.font-gift .font-p{
    font-size: 18px;
    color: rgb(75, 71, 71);

}
.font-gift .font-people{
    margin-left: 10px;
    font-size: 18px;
    
}
.font-gift .vendor-text {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.font-gift .span-vendor{
    margin-left: 70px;
    font-size: 15px;
    color: rgb(83, 82, 82);
}
.font-gift .color-vandor{
    font-size: 16px;
    font-weight: bold;
}
.vandor-color .color-vandor-two{
    margin-left: 10px;
}
.vandor-color .color-vandor-three{
    margin-left: 10px;
}
.vandor-color button{
    border-radius: 5px;
    border-style: none;
    background-color: rgb(212, 208, 208);
}
.color-vandor-two button{
    background-color: rgb(94, 137, 255);
    color: white;
    font-weight: 600;
}
.color-vandor-three button:hover{
    background-color: rgb(94, 137, 255);
    color: white;
    font-weight: 600;
}
.want button{
    height: 20px;
    width: 20px;
}
.want .want-font {
    margin-left: 10px;
    font-size: 18px;
    
}
.font-gift .want-buy{
    margin-top: 20px;
}
.want-buy button{
    border-radius: 5px;
    border-style: none;
}
.large button{
    height: 60px;
    width: 40px;
    border-style: solid;
    border-color: rgb(212, 211, 211);
}
.button-want button{
    margin-left: 5px;
    height: 60px;
    width: 200px;
    background-color: rgb(65, 143, 231);
    color: white;
    font-weight: 600;
}
.button-want button:hover{
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
}
.button-want-two button{
    height: 60px;
    width: 200px;
    color: white;
    font-weight: 400;
    background-color: black;
}
.button-want-two button:hover{
    background-color: rgb(65, 143, 231);
    color: white;
    font-weight: 400;
}
.guranteed-img .img-vandor{
    margin-top: 20px;
}
.guranteed-img hr{
    margin-top: 20px;
}
/* end f-img */
/* begin should */
.should {
    margin-top: 60px;
}
.should .should-faqs{
    border: 1px solid rgb(201, 200, 200);
    border-radius: 10px;

}
.should-faqs a{
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
}
.should-faqs .should-home{
    margin-top: 20px;
}
.should-faqs button{
    border-radius: 5px;
    height: 40px;
    width: 40px;
    background-color: rgb(196, 195, 195);
    color: rgb(82, 151, 255);
    border-style: none;
 
}


.should .make-faqs{
    border: 1px solid rgb(201, 200, 200);
    border-radius: 10px;
    height: 65px;

}
.make-faqs .make-home{
    margin-top: 13px;
}
.make-faqs a{
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
}
.make-faqs button{
    border-radius: 5px;
    height: 40px;
    width: 40px;
    background-color: rgb(196, 195, 195);
    border-style: none;
 
}

.should-faqs .should-button{
    margin-left: 840px;
}
.should-faqs p{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
}
.make-faqs .make-button{
    margin-left: 670px;
}
.make-faqs .make-button-two{
    margin-left: 730px;
}
.make-faqs .make-button-three{
    margin-left: 835px;
}
.make-faqs .make-button-four{
    margin-left: 665px;
}
/* end should */
.summer {
    margin-top: 100px;
}
.summer .row{
    border: 1px solid rgb(206, 205, 205);
    background-color:  rgb(206, 205, 205);
    border-radius: 10px;
}
